#nameAndLevel {
  display: inline;
  color: white;
  font-size: 20px;
  margin-top: 0px;
}
#characterType {
  padding-right: 5px;
}
#HPACDiceWrapper {
  outline: 1px solid white;
  height: 15vh;
  display: flex;
  flex-direction: row;
  margin-left: 1px;
  margin-right: 1px;
}
#hpacWrapper {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  outline: 1px solid white;
}
@media only screen and (min-width: 768px) {
  #hpacWrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.scores {
  flex-grow: 2;
  text-align: left;
  font-size: 2rem;
  margin-left: 2%;
}
.HPACButton {
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: 6.5vmin;
}
.HPACButton:focus {
  background-color: rgba(94, 94, 94, 1);
  border-radius: 20%;
}
.HPACMore {
  font-size: 1.3rem;
}
#diceRollResultWrapper {
  width: 55vw;
  height: auto;
  text-align: center;
  margin: auto;
  white-space: pre-wrap;
}
