.prepSpellsButton {
  position: fixed;
  margin: 2px;
  outline: 1px solid gray;
  font-size: 20px;
}
.returnToSpells {
  position: fixed;
  margin: 2px;
  outline: 1px solid gray;
  border: none;
}
.shortHR {
  width: 50%;
}
.spellContainer {
  margin-top: 15vh;
}
