.editHeading {
  text-align: center;
  margin: auto;
  margin-top: 2%;
}
.buttonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5px;
  background: black;
  box-shadow: inset -0px 5px 10px black, inset 0px -5px 10px black,
    0px 2px 4px 2px black, 0px -2px 4px 2px black;
  -webkit-box-shadow: inset -0px 5px 10px black, inset 0px -5px 10px black,
    0px 2px 4px 2px black, 0px -2px 4px 2px black;
  -moz-box-shadow: inset -0px 5px 10px black, inset 0px -5px 10px black,
    0px 2px 4px 2px black, 0px -2px 4px 2px black;
}
.moreButton {
  background: rgba(50, 50, 50, 0.9);
  border-radius: 20%;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  height: 25px;
  font-size: 17px;
  width: 40vw;
}
