/* Placed on the document body when Modal is mounted */
.noScroll {
  overflow: hidden;
}
.modal {
  z-index: 5;
  height: 61vh;
  position: fixed;
  background-color: rgba(249, 249, 250, 0.95);
  border: 5px solid rgb(238, 193, 246);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: rgb(68, 33, 27);
  padding-bottom: 40px;
}
.modal::-webkit-scrollbar {
  display: none;
}

.modal_closeButton {
  position: relative;
  float: right;
  right: 2px;
  top: 2px;
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
}
