.requiredFieldIndicator {
  font-style: italic;
  font-size: 12px;
}
.addSpellForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inputKey {
  margin-left: 5px;
  display: inline-block;
  width: 130px;
}
.emptyWarn {
  outline: 1px solid red;
}
.addSpellButton {
  margin-bottom: 5px;
}
