html body {
  overflow-y: hidden;
}
body {
  position: relative;
  margin: 0;
  background-image: linear-gradient(transparent 80%, black),
    url(https://www.xtrafondos.com/wallpapers/textura-reciclado-arrugado-azul-64.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}
#appWrapper {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

#topWrapper {
  height: auto;
}
#rollUse {
  font-size: 0.8rem;
}
#rollTopLine {
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rollTotal {
  font-size: 30px;
}
#rollModTotal {
  height: 30px;
  font-size: 30px;
  margin: auto;
}
.natTwenty {
  color: green;
}
.natOne {
  color: red;
}
button:focus {
  box-shadow: 0 0 15px 5px rgba(231, 144, 249, 0.72);
  -webkit-box-shadow: 0 0 15px 5px rgba(231, 144, 249, 0.72);
  -moz-box-shadow: 0 0 15px 5px rgba(231, 144, 249, 0.72);
  outline: 0;
  z-index: 2;
}
.spellLevelWrapper {
  text-align: center;
}
.spellLevelHeader {
  margin-bottom: 0;
}
#levelZeroHeader {
  margin-top: -50px;
}
#levelZeroHeaderPrep {
  margin-top: -20px;
}
.remainingSpells {
  text-align: center;
}
.spellList {
  text-align: center;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.spellButtons {
  font-size: 14px;
  background: rgba(20, 30, 9, 0.6);
  color: white;
  border: none;
  margin: 3px;
  box-shadow: 0 0 3px;
  -webkit-box-shadow: 0 0 3px;
  -moz-box-shadow: 0 0 3px;
}
.disabled {
  color: grey;
  box-shadow: 0 0 0px;
  -webkit-box-shadow: 0 0 0px;
  -moz-box-shadow: 0 0 0px;
}
