html body {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 90%;
}
body {
  position: relative;
  margin: 0;
  background-image: linear-gradient(transparent 80%, black),
    url(https://www.xtrafondos.com/wallpapers/textura-reciclado-arrugado-azul-64.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#appWrapper {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

#topWrapper {
  min-height: 190px;
  height: 31.5vh;
}
.rollUse {
  font-size: 0.8rem;
}
.rollResult {
  height: 30px;
  font-size: 30px;
  position: relative;
  margin: auto;
  text-align: center;
}
.rollModTotal {
  height: 30px;
  margin: auto;
}
.natTwenty {
  color: green;
}
.natOne {
  color: red;
}
button:focus {
  box-shadow: 0 0 15px 5px rgba(231, 144, 249, 0.72);
  -webkit-box-shadow: 0 0 15px 5px rgba(231, 144, 249, 0.72);
  -moz-box-shadow: 0 0 15px 5px rgba(231, 144, 249, 0.72);
  outline: 0;
  z-index: 2;
}
.spellLevelWrapper {
  text-align: center;
}
.spellLevelHeader {
  margin-bottom: 0;
}
#levelZeroHeader {
  margin-top: -50px;
}
#levelZeroHeaderPrep {
  margin-top: -20px;
}
.remainingSpells {
  text-align: center;
}
.spellList {
  text-align: center;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.blackHR {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.spellButtons {
  font-size: 14px;
  background: rgba(20, 30, 9, 0.6);
  color: white;
  border: none;
  margin: 3px;
  box-shadow: 0 0 3px;
  -webkit-box-shadow: 0 0 3px;
  -moz-box-shadow: 0 0 3px;
}
.disabled {
  color: grey;
  box-shadow: 0 0 0px;
  -webkit-box-shadow: 0 0 0px;
  -moz-box-shadow: 0 0 0px;
}
.textInput {
  background-color: rgba(115, 63, 190, 1);
  border: none;
  color: white;
  outline: 2px solid black;
}
.numberInput {
  background-color: rgba(115, 63, 190, 1);
  border: none;
  color: white;
  outline: 2px solid black;
  font-size: 1rem;
}
.twoDigit {
  width: 2.5rem;
}
.threeDigit {
  width: 3rem;
}

.disabledInput {
  background-color: rgba(126, 109, 150, 1);
  color: black;
}
.defaultButton {
  text-align: center;
  font-size: 0.85rem;
  border: none;
  background-color: rgba(57, 18, 70, 0.8);
  color: white;
  outline: 2px solid black;
}
.defaultButtonSelected {
  background-color: rgba(152, 13, 199, 0.8);
}
.formItemsContainer {
  background-color: rgba(249, 249, 250, 0.8);
  color: black;
  margin-top: 1.5rem;
}
.backButton {
  border: 2px solid grey;
  background-color: rgba(57, 18, 70, 0.8);
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.legendHeader {
  background-color: rgba(154, 130, 190, 1);
  border: 2px solid black;
  border-radius: 20%;
  color: white;
  font-size: 1em;
  padding: 0.2em 1em;
  position: relative;
}
