.savesContainer {
  display: flex;
  align-items: center;
}

.armorClassFormContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.abilityScoreFormContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.coreFormButton {
  margin-top: 2px;
}
