.HPHeading {
  margin: auto;
  text-align: center;
  margin-top: 10%;
}
.damageListItem{
  height:25px;
}
.damageListItemText{
  margin: auto;
  height: 25px;
}
.inputAndButton {
  display: inline;
  float: right;
  margin-right: 5px;
}
.damageInput {
  margin-right: 4px;
}
.redText {
  color: red;
}
.greenText {
  color: green;
}
