.HPHeading {
  margin: auto;
  text-align: center;
  margin-top: 10%;
}
.inputAndButton {
  display: inline;
  float: right;
  margin-right: 2px;
}
.damageInput {
  margin-right: 4px;
}
.redText {
  color: red;
}
.greenText {
  color: green;
}
