.HPHeading {
  margin: auto;
  text-align: center;
  margin-top: 10%;
}
.inputAndButton {
  display: inline;
  float: right;
}
.numberInput {
  width: 4rem;
  margin-right: 4px;
  background-color: rgba(115, 63, 190, 1);
  border: none;
  color: white;
  outline: 2px solid black;
}
.redText {
  color: red;
}
.greenText {
  color: green;
}
.plusMinusButton {
  border: none;
  color: white;
  background-color: rgba(63, 54, 68, 1);
  outline: 1px solid white;
}
