#statsContainer {
  position: relative;
  width: 100vw;
}
#abilityScoresHeader {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 0;
}
#abilityScoresWrapper {
  position: absolute;
  margin: auto;
  width: 100vw;
}
.abilityScores {
  position: relative;
  width: auto;
  margin-left: 15vw;
  font-size: 2rem;
  font-family: monospace;
}
.rollAbility {
  border: none;
  background: none;
  color: white;
  outline: 1px solid white;
  margin-right: 10px;
  transform: translateY(-25%);
}
