.abilityScoresHeader {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}
.abilityScores {
  position: relative;
  width: auto;
  margin-left: 15vw;
  font-size: 1.5rem;
  font-family: monospace;
}
.rollAbilityButton {
  margin-right: 10px;
}
